/*
#593493 Roxo
#833CA3 Violeta
#FF7F00 Laranja

 body { 
    font-family: Arial, Helvetica, sans-serif;
    background-color: azure;
    border-radius: 7px;
    padding: 15px;
    margin: auto;
    margin-bottom: 7px;
    width: 500px;
}

header {
    color: #fff;
    background-color: #833CA3;
    text-align: center;


}

label {
    background-color: #FF7F00;
    border-radius: 7px;
    padding-left: 05px;
    width: 500px;
    margin: auto;
    margin-bottom: 7px;
}

p{
    padding-left: 05px;
    text-align: center;
    font-size: 15px;
    font-style: normal;
}

form {
    background-color: #593493;
    color: #fff;
    font-style: italic;
    padding: 07px;

    text-align: center;
    width: 500px;
}

@media screen  and (min-width: 768px) and (max-width: 992px) {
    body{
    background-color: #ff7f00;
    }
    
}

@media screen and (max-width: 992px) {
    body{
        background-color: grey;
    }
 } 
 * {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(249, 253, 255, 0.986); 
    margin-top: 5px;
    margin-left: 15px;
}*/
/* veja depois */
/* estilofull.css */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #ff7f00;
    background-color: #833ca3;
  }
  
  header {
    background-color: #593493;
    color: #180f0f;
    padding: 1em;
    text-align: center;
  }
  
  h1 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
  }
  
  section {
    padding: 2em;
  }
  
  form {
    max-width: 300px;
    margin: 0 auto;
    padding: 1em;
    border: 1px solid #130f0b;
    border-radius: 0.5em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin-bottom: 0.5em;
  }
  
  select {
    width: 100%;
    padding: 0.5em;
    font-size: 1em;
    border: 1px solid #080705;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 0.5em;
    font-size: 1em;
    border: none;
    border-radius: 0.5em;
    background-color: #833ca3;
    color: #100d11;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #ff7f00;
  }
  
 
  @media (min-width: 768px) {
    section {
      max-width: 600px; 
      margin: 0 auto;
    }
  
    form {
      max-width: 400px; 
    }
  
    label {
      display: inline-block;
      width: 40%; 
    }
  
    select {
      width: 60%;
    }
  
    button[type="submit"] {
      width: 60%; 
    }
  }
